<style>

.head {
 margin-left: {{ratio}}/4%;
  margin-top: 20px;
  position: relative;
  width: 160px;
}
.face {
  position: relative;
  top: 0;
  background: #5191e1;
  width: {{headSize}}px;
  height: {{headSize}}px;
  border-radius: 100% 100% 95% 95%;
}
.face .ears .left,
.face .ears .right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background: #5191e1;
  width: 30px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.face .ears .left {
  left: -18px;
}
.face .ears .right {
  right: -18px;
  transform: rotateZ(180deg);
}
.face .eyes .left,
.face .eyes .right {
  position: absolute;
  top: 100px;
  margin-top: -6px;
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  animation: blink 3s infinite;
}
.face .eyes .left {
  left: 30%;
}
.face .eyes .right {
  right: 30%;
}
.face .mouth {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: 50px;
  background: #eab29e;
  width: 40px;
  height: 20px;
  border-radius: 20px;
}
@keyframes blink {
  4% {
    height: 0;
  }
  5% {
    height: 12px;
  }
  100% {
    height: 12px;
  }
}

path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:#fd6955; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}

</style>
<h1>{{title}}</h1>

<div id = "headcontainer">

<div class="head">
  <div class="face">
    <div class="ears">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="eyes">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="nose"></div>
    <div class="mouth"></div>
  </div>
</div>
</div>
<div id = "messagecontainer">
  {{point}}
  </div>


<div id='dashboard'>
</div>
  <button> <a href="/"> Another Song! </button>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/javascripts/paint.js"></script>
<script>
var freqData=[
{Person:'I',part:{subj:8, obj:0, det:4, possp:0, rfx:0}}
,{Person:'We',part:{subj:1, obj:0, det:0, possp:0, rfx:0}}
,{Person:'You',part:{subj:2, obj:2, det:0, possp:0, rfx:0}}
,{Person:'Y\'all',part:{subj:0, obj:0, det:0, possp:0, rfx:0}}
,{Person:'He/She',part:{subj:3, obj:2, det:0, possp:0, rfx:0}}
,{Person:'They',part:{subj:2, obj:0, det:0, possp:0, rfx:0}}
];

var freqData=[
{Person:'I',part:{subj:8, obj:0, det:4, possp:0, rfx:0}}
,{Person:'We',part:{subj:1, obj:0, det:0, possp:0, rfx:0}}
,{Person:'You',part:{subj:2, obj:2, det:0, possp:0, rfx:0}}
,{Person:'Y\'all',part:{subj:0, obj:0, det:0, possp:0, rfx:0}}
,{Person:'He/She',part:{subj:3, obj:2, det:0, possp:0, rfx:0}}
,{Person:'They',part:{subj:2, obj:0, det:0, possp:0, rfx:0}}
];

dashboard('#dashboard',freqData);
</script>


